.callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: -5px 0 20px;
    border-left-color: #777;
}

.callout-danger {
    border-left-color: #d9534f;
}

.callout-primary {
    border-left-color: #428bca;
}

.callout-success {
    border-left-color: #5cb85c;
}

.callout-warning {
    border-left-color: #f0ad4e;
}

.callout-info {
    border-left-color: #5bc0de;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

p:last-child {
    margin-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}