~$*
*~
*.out
Thumbs.db
.DS_Store
.ipynb_checkpoints
.idea/
*.css
*.so
*.o
*.pptx
*.pyc
Course II/UNIX/pract/Github 5_FTP_server/ftp-server/storage/
Course II/UNIX/pract/Github 5_FTP_server/ftp-cli/storage/
