~$*
*~
*.out
Thumbs.db
.DS_Store
.ipynb_checkpoints
.idea/
*.so
*.o
*.pptx
*.pyc
Course II/UNIX/pract/Github 5_FTP_server/ftp-server/storage/
Course II/UNIX/pract/Github 5_FTP_server/ftp-cli/storage/
Course II/ПП/part2/pract7/ftp-cli/storage/
Course II/ПП/part2/pract7/ftp-server/storage/
*.log
venv
Course III/ECONOMETRICS/task1/
Course I/ОВС/лабы/PHP/css/bootstrap.css
*.npy
*.npz
*.h5
