~$*
*~
*.out
Thumbs.db
.DS_Store
.ipynb_checkpoints
.idea/
*.css
*.so
*.o
*.pptx
*.pyc
Course II/ПП/part2/pract2/code/storage/
Course II/МАТИИМ/control/data_1/
Course II/МАТИИМ/control/data_2/
Course II/МАТИИМ/control/ПИ19-4 Деменчук Георгий КР.ipynb
Course II/МАТИИМ/control/ПИ19-4 Деменчук Георгий КР.html
Course II/МАТИИМ/control/ПИ19-4 Деменчук Георгий КР.pdf
