$font-family: 'Oswald', sans-serif;

.header {
  background-image: url("../img/Header.png");
  color: #ffffff;
  height: 904px;
  font-family: $font-family;
}

section {
  overflow-x: hidden !important;
}

.container {
  padding-inline: 0;
}


h2 {
  font-family: $font-family;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 3px;
  color: #252525;
}

h1, h3, h4, h5, h6 {
  font-family: $font-family;
}


p {
  font-family: 'Open Sans', sans-serif;
}

.header-menu {
  padding-top: 79px;

  .nav-item {
    a {
      font-size: 14px;
      color: rgba(255, 255, 255, 1);
      letter-spacing: 0.2rem;
      padding: 0 !important;
      text-align: end;
    }

    padding-left: 36px;

    hr {
      width: 1.3rem;
      background: #4CAF50;
      margin: 0 0 0 auto;
      padding-right: 0;
      transition: 0.3s;
    }
  }
}

li.active {
  > hr {
    width: 100% !important;
  }
}

.header-content {
  height: 703px;
}

.header-content-title {
  font-size: 72px;
  font-weight: 500;
}

.header-content-description {
  font-size: 20px;
  margin-top: 24px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1.28px;
}

.header-carousel-pagination {
  ol {
    margin-top: 2rem;

    li {
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 9px;

      &:hover {
        cursor: pointer;
      }
    }

    li.active {
      font-size: 36px;
      color: #ffffff;
      text-decoration: line-through;
      text-decoration-color: #4CAF50;
    }
  }
}

.we-are {
  height: 560px;
  margin-top: 149px;
  margin-bottom: 117px;
  position: relative;

  img {
    position: absolute;
  }
}

.we-are-sm {
  display: none;
}

#we-are-first-img {
  left: 193px;
  bottom: 186px;
  top: 0;
  z-index: -1;
}

#we-are-second-img {
  top: 62px;
  bottom: 79px;
  left: 403px;
  z-index: -2;
}

#we-are-third-img {
  top: 168px;
  left: 603px;
  bottom: 0;
  z-index: -3;
}

.we-are-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2.3px;
  color: #333333;
}

.we-are-title-sm {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2.3px;
  color: #333333;
}

.we-are-title-span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 2.7px;
  color: #504E4E;
}

.we-are-title-span-sm {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 2.7px;
  color: #504E4E;
}

.we-are-description {
  width: 280px;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  color: #5B5858;
  padding-top: 77px;
  padding-right: 50px;
}

.we-are-description-1 {
  width: 280px;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  color: #5B5858;
  padding-top: 404px;
  padding-left: 76px;
}

.we-are-img-sm {
  margin-bottom: 20px;
}

.we-are-description-sm {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  color: #5B5858;
  padding: 25px;
}

.we-are-description-1-sm {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  color: #5B5858;
  padding: 25px;
}

.our-services {
  background: #FBFBFB;
  padding-top: 129px;
  padding-bottom: 136px;
}

.our-services-item {
  margin-top: 85px;
  background: #ffffff;
  padding: 45px;
  margin-right: 0;

  h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 15px;
  }

  p {
    margin: 19px 0;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #777777;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  span {
    font-family: $font-family;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #252525;
    opacity: 0.5;
  }
}

.black-hr {
  width: 45px;
  height: 2px;
  background: #252525;
  margin: 0 auto 0 0;
}

.our-services-item.active {
  border-bottom: 3px solid #70BF73;

  span {
    opacity: 1;
  }
}

.our-services-item-oval {
  padding: 9px 10px 11px 12px;
  box-shadow: 0 0 20px #DBDBDB;
  border-radius: 31px;
}

.latest-works {
  padding: 50px 16px 0;
}

.latest-works-title {
  margin-top: 57px;
}

.latest-works-menu {
  margin-top: 50px;
  margin-bottom: 161px;
  padding-inline: revert;

  li {
    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.8px;
      color: #252525;
      opacity: 0.3;
      margin-right: 40px;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }

    margin-bottom: 1rem;
  }
}

.latest-works-item {
  h4 {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #252525;
    position: absolute;
    bottom: 0;
  }

  a {
    &:hover {
      text-decoration: none;
    }

    h4 {
      &:hover {
        text-decoration: line-through;
        text-decoration-color: #4CAF50;
      }
    }
  }
}

.latest-works-item-info {
  margin-bottom: 137px;
  margin-top: 24px;

  span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: rgba(37, 37, 37, 1);
  }

  p {
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.8px;
    color: #C2C2C2;
  }

  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.8px;
    color: #252525;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      text-decoration: line-through;
      text-decoration-color: #4CAF50;
    }
  }
}

.the-team {
  background: #FBFBFB;
  padding-top: 75px;
  padding-bottom: 75px;
}

.the-team-avatars {
  padding-top: 71px;
}

.the-team-name {
  position: absolute;
  text-align: center;
  max-width: none;
  bottom: 0;
  padding-top: 13px;
  padding-bottom: 8px;
  background: #FFFFFF;
  opacity: 0.5;
  cursor: pointer;

  span {
    font-family: $font-family;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.2px;
    color: #252525;
  }
}

.the-team-name.active {
  opacity: 0.9;

  > .the-team-name-profession {
    display: inline !important;
  }
}

.the-team-name-profession {
  text-align: center;

  hr {
    width: 45px;
    height: 1px;
    background: #252525;
    margin: 8px auto;
  }

  p {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #777777;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.reviews {
  padding-top: 117px;
  padding-bottom: 90px;
  background: #ffffff;

  a {
    span {
      img {
        position: absolute;
        bottom: 30px;
        opacity: 1;
      }
    }
  }
}

.reviews-item {
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.9px;
    color: rgba(55, 55, 55, 1);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
  }

  hr {
    margin: 29px 0;
  }
}

.reviews-client {
  padding-top: 30px;
  padding-bottom: 25px;
}

.reviews-client-name {
  font-family: $font-family;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.1px;
  color: #373737;
  text-transform: uppercase;
}

.reviews-client-prof {
  font-family: $font-family;
  font-weight: 300;
  font-size: 14px;
  line-height: 20.75px;
  letter-spacing: 0.9px;
  color: #B8B8B8;
}

.contacts-case {
  padding-top: 69px;
  padding-bottom: 100px;
  text-align: center;
  background: #FBFBFB;

  h4 {
    margin-top: 19px;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
  }

  p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.5px;
    color: #373737;
    opacity: 0.8;
  }
}

.contacts-mail {
  background: #70BD59;
  padding-top: 69px;
  padding-bottom: 100px;
  text-align: center;

  h4 {
    margin-top: 19px;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    color: #FFFFFF;
  }

  a {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.5px;
    color: #373737;
    opacity: 0.8;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}

.footer {
  background: #2E2E2E;
  padding-top: 142px;

  span {
    font-family: $font-family;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    opacity: 0.5;
  }

  div {
    text-align: center;
  }
}

.footer-contacts {
  margin-top: 10px;
  margin-bottom: 29px;
}

.social-icons {
  a {
    opacity: 0.5;
    margin-right: 21px;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.copyright {
  background: #252525;
  text-align: center;
  padding: 20px;
  font-family: $font-family;
  color: #ffffff;
  opacity: 0.5;
  font-weight: 300;
  font-size: 13px;
  margin-top: 82px;
}

.kitty {
  a {
    h4 {
      width: 100%;
    }
  }
}

.the-team-avatars-item {
  margin-bottom: 20px;
}
