.mainbody {
    background: aliceblue;
}

.card {
    margin: 25px;
}


img {
    border-radius: 50%;
}

.card-top {
    margin: 10px;
    text-align: center;
}

.card-top-text-content {
    margin-top: 13px;
}

ul {
    list-style-type: circle;
}