h1.title {
  font: normal 24px/1.5 "Open Sans", sans-serif;
  color: #1db07d; }

div.container {
  color: #1db07d;
  background: #fff;
  width: 100%; }

.small-square-first {
  width: 200px;
  height: 200px;
  background-color: #d714a1; }

.small-square-second {
  width: 100px;
  height: 100px;
  background-color: #438173; }

.small-square-third {
  width: 100px;
  height: 100px;
  background-color: #631f7e; }

.frame {
  transition: .2s; }
  .frame:hover {
    background-color: black; }

.dialog-button, .mybutton {
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
  cursor: pointer; }

.mybutton {
  background-color: #1db07d;
  float: left; }

ul {
  list-style: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }

.container {
  width: 1000px; }

.column-half {
  width: 500px; }

.column-fifth {
  width: 200px; }

a {
  padding: 10px 15px;
  background-color: #1db07d; }
  a:hover {
    background-color: #16845e; }
