.DEMKAStandartForm{
    background: #5fa5b4;
    border-color: #6ac6c5;
    border-style: solid;
    padding: 5px;
    border-radius: 20px;
}

legend{
    color: #000000;
}
label{
    display: inline-block;
    color: #ffffff;
    line-height: 1.5;
}
input{
    display: inline-block;
}
.DEMKAmaintable{
    width:100%;
    letter-spacing:0;
    padding-top:5;
}
.DEMKALefttable{
    width: 200px;
    box-align: top;
}

.DEMKARighttable{
    box-align: top;
}

.DEMKAsendbutton{
    background: linear-gradient(to top, #5fc2c1, white);
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-color: #6ac6c5;
    border-style: solid;
    padding: 5px;
}

.DEMKAform{
    line-height: 1.5;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

[class*="col-"] {background-color: #eee; text-align: center; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; font-size: 2rem; }